* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.circle {
    position: fixed;
    background-color: aqua;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    scale: 0;
    opacity: 0;
    filter: blur(20px);
}

body {
    position: relative;
    background-color: #060606;
}

/* --------Section 1-------- */

.nav {
    position: relative;
}

li {
    color: white;
    list-style: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

li a {
    text-decoration: none;
    color: white;
}

li a:hover {
    color: aqua;
}

ul {
    display: flex;
    gap: 40px;
    padding: 30px 80px 30px 30px;
    justify-content: end;
}

.container {
    position: relative;
}

.img {
    background-image: url(atul.png);
    object-fit: cover;
    box-shadow: inset 40px 30px 200px 110px rgba(8, 8, 8, 0.791);
    background-repeat: no-repeat;
    margin-left: 140px;
    height: 700px;
    width: 32.5%;
    border-radius: 45px 30px 40px 50px;
}

.container1 {
    position: absolute;
    top: 35%;
    left: 60%;
    padding: 40px 40px 40px 40px;
}

.content {
    color: white;
    font-size: 60px;
}

.content1 {
    color: white;
    font-size: 40px;
}

/* --------Section 2-------- */

.s2 {
    position: relative;
}

.about {
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 160px 40px 40px 70px;
    height: 400px;
    word-spacing: 5px;
    width: 50%;
    margin-top: 40px;
}

.h1 {
    color: whitesmoke;
    position: absolute;
    margin-left: 70px;
    padding-top: 40px;
    font-size: 40px;
    font-weight: 900;
    font-style: normal;

}

.img2 {
    position: absolute;
    top: 0%;
    left: 50%;
    background-image: url(https://img.freepik.com/premium-photo/cartoon-character-businessman-with-book-his-hands-black-background_890887-6201.jpg);
    object-fit: cover;
    background-repeat: no-repeat;
    margin-left: 140px;
    height: 600px;
    width: 32.5%;
    background-color: aqua;
    border-radius: 10px 10px 10px 10px;

}

/* --------Section 3-------- */

.h2 {
    color: white;
    margin-left: 70px;
    margin-top: 40px;
    font-size: 40px;
    font-weight: 900;
    font-style: normal;
}

.education {
    width: 50%;
    margin-left: 180px;
    margin-top: 150px;
    height: 1000px;
}

.c0 {
    color: white;
    font-size: 20px;
}

.c1 {
    color: white;
    font-size: 20px;
    margin-top: 145px;
}

.c2 {
    color: white;
    font-size: 20px;
    margin-top: 145px;
}

.line {
    position: relative;
    width: 7px;
    height: 1000px;
    border-radius: 5px;
    margin-left: 270px;
    margin-top: 80px;
    background-color: antiquewhite;
}

.main {
    display: flex;
}

.b1 {
    position: absolute;
    background-color: antiquewhite;
    width: 30px;
    height: 30px;
    margin-top: 160px;
    margin-left: 258px;
    border-radius: 50%;
}

.b2 {
    position: absolute;
    background-color: antiquewhite;
    width: 30px;
    height: 30px;
    margin-top: 500px;
    margin-left: 258px;
    border-radius: 50%;
}

.b3 {
    position: absolute;
    background-color: antiquewhite;
    width: 30px;
    height: 30px;
    margin-top: 840px;
    margin-left: 258px;
    border-radius: 50%;
}

hr {
    margin: 0px 70px 0px 70px;
    margin-top: 80px;
}

.year {
    font-size: 40px;
    margin-top: 20px;
}


/* --------Section 4-------- */

.skill-main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
    color: white;
}

.skill-left {
    margin-left: 280px;
    width: 600px;
}

.skil-bar {
    margin-bottom: 2.6rem;
}

.skill-main h3 {
    margin-bottom: 2rem;
    font-size: medium;
    text-align: center;
}

.skill-left .skill-bar .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-top: 25px;
    font-size: 20px;
}

.skill-left .skill-bar .bar {
    width: 100%;
    height: 10px;
    background-color: lightgrey;
    border-radius: 25px;
    margin-top: 10px;
    position: relative;
}

.skill-bar .bar span {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: aqua;
    border-radius: 25px;
}

.skill-bar .bar .html {
    width: 90%;
    animation: html 2s;
}

.skill-bar .bar .css {
    width: 85%;
    animation: css 3s;
}

.skill-bar .bar .bootstrap {
    width: 85%;
    animation: css 3s;
}

.skill-bar .bar .js {
    width: 75%;
    animation: js 4s;
}

.skill-bar .bar .python {
    width: 60%;
    animation: css 3s;
}

.skill-bar .bar .c {
    width: 80%;
    animation: css 3s;
}

.skill-bar .bar .c_plus {
    width: 30%;
    animation: c 5s;
}

@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width: 85%;
    }
}

@keyframes bootstrap {
    0% {
        width: 0%;
    }

    100% {
        width: 85%;
    }
}

@keyframes js {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

@keyframes python {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}

@keyframes c {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

@keyframes c_plus {
    0% {
        width: 0%;
    }

    100% {
        width: 30%;
    }
}

/* --------Section 5-------- */

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.project-container .project-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem white;
    overflow: hidden;
    display: flex;
    background-color: aqua;
    height: 300px;
    margin-left: 40px;
    margin-top: 80px;
    justify-content: space-around;
    margin-bottom: 60px;
}

.project-box img {
    width: 100%;
    transition: .5s ease;
}

.project-box:hover img {
    transform: scale(1.1);
}

.project-box .project-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgb(16, 163, 212));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0.4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.project-box:hover .project-layer {
    transform: translateY(0);
}

.project-layer h4 {
    font-size: 3rem;
}

.project-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.project-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background-color: aquamarine;
    border-radius: 50%;
}

/* --------Section 6-------- */

.cert-layer {
    display: flex;
    margin-top: 80px;
    margin-bottom: 60px;
}

.cert-layer .cert-box {
    border-radius: 10px;
    justify-content: space-around;
    margin-left: 50px;
}

.cert-box img {
    height: 300px;
    border-radius: 2rem;
    transition: 0.5s ease;
}

.cert-box:hover img {
    transform: scale(1.1);
    box-shadow: 0 0 1rem white;
    transform: rotate3d(-1, 1, 0, 20deg);
}


/* --------Section 7-------- */

.h3 {
    color: white;
    margin-left: 70px;
    margin-top: 40px;
    font-size: 40px;
    font-weight: 900;
    font-style: normal;
}

.contact {
    position: relative;
    height: 600px;
    padding: 40px 10px 40px 10px
}

.contact1 {
    position: absolute;
    margin: 100px 0px 0px 100px;
    width: 400px;
}

.contact0 {
    color: white;
    font-size: 40px;
}

.address {
    margin: 50px 0px 0px 0px;
}

.ad1 {
    color: grey;
    font-size: 20px;
}

.ad2 {
    color: white;
    font-size: 20px;
    margin-top: 15px;
}

.contact2 {
    position: absolute;
    left: 50%;
    margin: 100px 0px 0px 70px;
}

button {
    padding: 15px 252px 15px 252px;
    margin-top: 50px;
    border-radius: 5px;
    font-size: 20px;
}

.input {
    height: 50px;
}

.name {
    padding: 0px 0px 0px 26px;
    height: 40px;
    width: 230px;
    justify-content: space-between;
    margin: 20px 33px 20px 0px;
    border-radius: 5px;
    font-size: 18px;
}

.message {
    width: 533px;
    height: 160px;
    margin-top: 50px;
    border-radius: 5px;
    padding: 20px 0px 0px 20px;
    font-size: 18px;
}

.go-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border-color: #040404 40px;
    background-color: #555;
    color: white;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}